.main .architect-description {
  text-align: center;
}

.main .architect-description h3 {
  margin-top: 15px;
}

.main .architect-description .bold {
  font-weight: 600;
}
.main .architect-description {
  text-align: center;
}

.main .architect-description h3 {
  margin-top: 15px;
}

.main .architect-description .bold {
  font-weight: 600;
}

.main .architect-description h4 {
  color:  #82b1ff;
  margin: 0 auto;
  margin-bottom: 20px;
}

.main .architect-description .table {
  margin-bottom: 90px;
}

.main .architect-description .video {
  margin:  70px 0 70px 0;
}

.main .architect-description .map {
  margin-bottom: 100px;
}
