.main .photo-architector {
  text-align: center;
  max-width: 90%;
}
.main .architect-description {
  text-align: center;
}

.main .architect-description h3 {
  margin-top: 15px;
}

.main .architect-description .bold {
  font-weight: 600;
}
.main .architect-description {
  text-align: center;
}

.main .architect-description .bold {
  font-weight: 600;
}

.main .architect-description h4 {
  color:  #82b1ff;
  margin: 0 auto;
  margin-bottom: 20px;
}

.main .architect-description .table {
  margin-bottom: 50px;
}

.main .architect-description .video {
  margin:  50px 0;
}

.main .architect-description .video-button {
  width:  60%;
  background-color: #82b1ff;
  border: none;
  margin: 0 auto;
}

.main .architect-description .video-button:active {
  background-color: #82b1ff;
}


.main .architect-description .map {
  margin-bottom: 50px;
  height: 20em;
}
