.main h2 {
  color:  #82b1ff;
}

section {
  margin: 20px;
}

.architect-of-the-day .architect-photo {
  margin: 15px 15px 15px 0;
}

.architect-of-the-day a {
  color: #000;
}

.developers-team h2 {
  margin-bottom: 20px;
}

.developers-team .developer-photo {
  margin-bottom: 15px;
}

.developers-team .developer-name{
  font-weight: 600;
}

